.BannPix{
    width: 400px;
    height:600px;
}



.nav-tabs .nav-link.active {
  background-color: #007bff; /* Set your desired background color */
  color: #fff; /* Set the text color for better visibility */
}

.nav-tabs .nav-item:not(.active) .nav-link {
  border-color: #007bff; /* Set your desired border color */
}



/* Default styles for buttons */
.button-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.ve-buttons {
  display: flex;
  position: absolute;
  right: 50px;
}

.-ve,
.pve {
  /* margin: 0 5px; */
  padding: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


.price{
  font-size: 2rem;
}



/* Media query for screens with a maximum width of 600 pixels (adjust as needed) */
@media only screen and (max-width: 600px) {
  /* Styles for buttons on mobile screens */
  .button-container {
    flex-direction: column;
  }
  .price
  .name{
    font-size: 1.9rem;
  }

  .ve-buttons {
    flex-direction: column;
    margin-top: 10px;
    right: 10px;
    
  }
  .-ve,
  .pve {
    /* margin: 0 5px; */
    padding: 5px;
    background-color: #207ee3;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0;
    height: 30px;
  }

}



/* Default styles for buttons */
.button-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.ve-buttons {
  display: flex;
  position: absolute;
  right: 50px;
}

.-ve,
.pve {
  /* margin: 0 5px; */
  padding: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


.price{
  font-size: 2rem;
}



/* Media query for screens with a maximum width of 600 pixels (adjust as needed) */
@media only screen and (max-width: 600px) {
  /* Styles for buttons on mobile screens */
  .button-container {
    flex-direction: column;
  }
  .price
  .name{
    font-size: 1.9rem;
  }

  .ve-buttons {
    flex-direction: column;
    margin-top: 10px;
    right: 10px;
    
  }
  .-ve,
  .pve {
    /* margin: 0 5px; */
    padding: 5px;
    background-color: #207ee3;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0;
    height: 30px;
  }

}

.SelectButton{
  height: "";
  justify-content: space-between;
  position: absolute;
  right:50px ;
}

.nav-tabs{
  font-size: 0.9rem;
  color: red;
}
@media (max-width:500px) {
  
}