/* .dashboard-bg{
    width: 100%;
    height: 180vh;
    padding-top: 50px;
} */
/* .user-dashboard-contact-body{
    width: 90%;
    margin: auto;
    background-color: white;
} */


.user-dashboard-nav{
    display: none;
    color: rgb(13,202,240);
    background-color: rgb(11,9,9);
}
.user-dashboard-nav-links{
    text-decoration: none;
    color: rgb(13, 202, 240);
}
.user-dashboard-nav-tabs{
    padding: 10px 20px;
}
.user-dashboard-nav-tabs:hover {
    background-color: whitesmoke;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    /* color: White; */
}




.user-dashboard-contact-content{
    width: 500px;
    padding: 20px;
}
.user-dashboard-contact-info{
    width: 85%;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245,246,254);
}
.user-dashboard-icon-div{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 15px; */
    background-color: rgb(13,202,240);
}

.contact-icons{
    color: white;
    font-size: 35px;
}
.user-contact-text{
    width: 60%;
}











@media(max-width: 770px) {
    .dashboard-bg{
        height: 250vh;
    }
    .user-dashboard-contact-content{
        width: 450px;
        padding: 10px;
    }
    .user-dashboard-contact-info{
        width: 90%;
        margin-top: 10px;
    }
    .user-dashboard-nav{
        display: block;
    }
    .user-sidebar-div{
        display: none !important;
    }
    
    .user-dashboard-nav .navbar,
    .user-dashboard-nav  .back-gd {
        background-color: rgb(248,249,250) !important; 
    }
  
    .user-tablet-logo{
        font-size: 22px;
        font-weight: 700;
        color: rgb(13,202,240);
    }
    .user-dashboard-nav .navbar-toggler {
        border: none; 
    }
    .user-dashboard-nav .navbar-toggler:hover {
        border: none; 
    }
}









@media (max-width:427px){
    
    .user-dashboard-contact-body{
        width: 95%;
        margin: auto;
        padding: 0;
        border-radius: 20px;
    }
    .user-dashboard-contact-content{
        height: 150vh;
        width: 300px;
        padding: 5px;
    }
    .user-dashboard-contact-content h2{
        font-size: 20px;
    }
    .user-dashboard-contact-content h4{
        font-size: 17px;
    }
    .user-dashboard-contact-content p{
        font-size: 12px;
    }
    .user-dashboard-icon-div{
        width: 50px;
        height: 50px;
    }
    
    .contact-icons{
        font-size: 25px;
    }
}















