.search-icon{
  font-size: 20px;
  color: white;
}

.input-tag{
  border-radius: 0;
}

.input-button{
  border-radius: 0;
}

.nav-container{
  background-color: rgb(245, 245, 245);
  padding-bottom: 20px;
}

.sort-all{
  margin-left: 10px;
  font-size: 15px;
}

.sort-bestselling{
  font-size: 15px;
  margin-top: 15px;
}

.sort{
  font-size: 15px;
  margin-top: 15px;
}
.select-tag:valid {
  border: none; 
}

.select-tag:focus {
  border: none; 
}


.item-card{
  position: relative;
  width: 250px;
  border-radius: 0;
  
}

.cart-icon02{
  position: absolute;
  right: 5%;
  top: 10px;
  font-size: 25px;
  color: grey;
}

.item-image{
  margin: 0 auto;
  max-width: 110px;
  /* border: 1px solid black; */
}

.cart-button{
  position: absolute;
  left: 32px;
  bottom: 20px;
}

.price-tag{
  position: absolute;
  top: 70%;
  right: 25%;
  left: 25%;
  font-size: 15px;

}

.name-tag{
  position: absolute;
  top: 60%;
  right: 25%;
  left: 25%;
  white-space:wrap;
  font-size: 15px;
}

.select-tag{
  border: none;

}

.select-tag:focus{
  border: none;
}

.select-tag-div{
  display: flex;
  align-items: center;
  
}

.error-message2{
  color: red;
  font-size: 14px;
  text-align: center;
}



.sibglepagelink{
  color: black;
  
}

.wishlist_icon{
  margin-left: 10px;
  font-size: 22px;
  color: black;
}

.wishlist_active{
  color: red;
}


  




@media only screen and (max-width:1000px){
  .item-card{
    margin: 0 auto;
  }

  .review-inpt{
    width: 650px;
  }

}