

.payment-content{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}  
  .payment-content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 13px;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 10px 2px gainsboro;
    margin-top: 80px;
}
.payment-content-table thead tr{
    width: 100%;
    text-align: left;
    font-weight: bold;
    background-color: rgb(13,202,240);
    color: white;
}

.payment-content-table th,
.payment-content-table td{
    padding: 20px 15px;
    border-right: 1px solid gray;
}
.payment-content-table tbody tr{
    border-bottom: 1px solid grey;

}
.payment-content-table tbody tr:nth-of-type(even){
    background-color: rgb(230, 230, 230);
}
.payment-content-table tbody tr:last-of-type{
    border-bottom: 3px solid rgb(13,202,240);
}


.select-dropdown{
  width: 150px;
  border: 1px solid grey;
}

.select-dropdown02{
  width: 200px;
  border: 1px solid grey;
}



.action-buttons-btn1{
  margin-left: 10px;
}

.payment-content-status-th button{
  white-space: nowrap;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  font-weight: bold;
  border: none;

}

.pending-color {
  background-color: orange; 
}

.failed-color {
  background-color: red; 
}

.success-color {
  background-color: rgb(93, 217, 93); 
}



.payment-content-select-div{
  display: flex;
  justify-content: space-between;
}

.action-btn-div {
  justify-content: center;
}

@media(max-width: 1024px){
  .payment-content-table th,
  .payment-content-table td{
      padding: 10px 10px;
      font-size: 12px;
  }
}

@media(max-width: 770px){
  .payment-content-table th,
  .payment-content-tabletd{
      padding: 10px 4px;
      font-size: 12px;
  }
}