.dashboard-bg {
  width: 100%;
  height: 100vh;
  padding-top: 15px;
  background-color: whitesmoke;
  padding-bottom: 20px;
  overflow: scroll;
}
.order-details-tag {
  margin-left: 50px;
}
.user-dashboard-contact-body {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 25px;
  border-radius: 30px;
  background-color: white;
}
.order-header {
  display: flex;
  margin: 15px 0;
}
.green-icon {
  font-size: 30px;
  margin-right: 20px;
  color: rgb(9, 179, 9);
}
.order-field {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid gainsboro;
}
.order-field h3 {
  font-size: 17px;
}
.progress-bar-ckeck {
  color: rgb(13, 202, 240);
}

.progress1 {
  width: 90%;
  margin: 20px auto;
  display: flex;
  height: auto;
  background: none;
}
.progress_content {
  width: 100%;
  display: grid;
  position: relative;
}
.progress_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress_content:not(:last-child) .progress_bar1 {
  height: 5px;
  width:62%;
  background-color: #dedede;
  position: absolute;
  top: 22%;
  right: 0;
}
.progress_circle.active {
  background-color: green;
  border: 1px solid green;
}
.progress_bar_active {
  background: green !important;
}

.progress-check {
  font-size: 25px;
  color: white;
}

.progress-fill {
  background: green;
}

.status-description {
  font-weight: bold;
}

.review_div{
  margin-top: 50px;
}


.order_reviewcard{
  height: 100px;
  border-radius: 0;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  width: 80%;
  margin: 0 auto;
}

.review_flex_div{
  display: flex;
  width: 100%;
}


.order_container{
  min-height: 450px;
  padding-bottom: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-top: none;
  width: 80%;
}

.order_review_inpt{
  width: 700px;
  padding: 5px;
  border: 1px solid rgb(220, 220, 220);
}


.order_review_textarea{
  width: 700px;
  border: 1px solid rgb(220, 220, 220);
}
















@media(max-width: 1026px){
  .progress_circle {
    z-index: 4;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 45%;   
    z-index: 2; 
  }
  .status-description {
    font-size: 13px;
  }
}

@media(max-width: 770px){


  .user-dashboard-contact-body {
    width: 90%;
    /* margin: auto;
    margin-top: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color: white; */
  }
  .progress_circle {
    width: 40px !important;
    height: 40px !important;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 47%;
    top: 18%;    
  }
  .progress-check {
    font-size: 20px !important;
  }

  .review_desc{
    font-size: 13px;
  }
}

@media(max-width: 427px){

  .review_desc{
    font-size: 13px;
  }

  .order_review_inpt{
    width: 270px;
  }

  .order_review_textarea{
    width: 270px;
  }

  .user-dashboard-contact-body {
    padding: 25px 10px;
  }
  .progress_circle {
    width: 25px !important;
    height: 25px !important;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 47%;
    top: 18%;
  }
  .progress-check {
    font-size: 14px !important;
  }
  .status-description {
    font-size: 8px;
  }
  .order-header h4{
    font-size: 16px;
  }
  .order-field h3 {
    font-size: 14px;
    margin-right: 10px;
  }
  .order-field p {
    font-size: 14px;
  }

}

@media(max-width: 322px){
  .progress_circle {
    width: 18px !important;
    height: 18px !important;
  }
  .progress-check {
    font-size: 10px !important;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 47%;
    top: 12%;    
  }
  .status-description {
    font-size: 6px;
  }

  .order_review_inpt{
    width: 270px;
  }

  .order_review_textarea{
    width: 270px;
  }
  .order_review_textarea{
    width: 500px;
  }
}

@media(max-width: 375px){
  /* .progress_circle {
    width: 18px !important;
    height: 18px !important;
  }
  .progress-check {
    font-size: 10px !important;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 47%;
    top: 12%;    
  } */
  .status-description {
    font-size: 6px;
  }

  .order_review_inpt{
    width: 250px;
  }

  .order_review_textarea{
    width: 250px;
  }

}

@media(max-width: 320px){
  /* .progress_circle {
    width: 18px !important;
    height: 18px !important;
  }
  .progress-check {
    font-size: 10px !important;
  }
  .progress_content:not(:last-child) .progress_bar1 {
    width: 47%;
    top: 12%;    
  } */
  .status-description {
    font-size: 6px;
  }

  .order_review_inpt{
    width: 210px;
  }

  .order_review_textarea{
    width: 210px;
  }

}
