.washman-bg{
<<<<<<< HEAD
    background-color: whitesmoke;
    width: 100vw;
}
.washman-content{
    width: 60vw;
    margin: auto;
    padding: 20px;
    margin-top: 25px;
=======
    width: 100vw;
    background-color: whitesmoke;
}
.washman-page-content{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
>>>>>>> c9a798097d3a475ba761233510a0b5a5ac7d73f1
    border-radius: 10px;
    background-color: white;
}
.washman-header{
<<<<<<< HEAD
    padding: 10px;
    border-bottom: 2px solid grey;
}
.washman-header h2{
    font-size: 18px;
}
.washman-image-sec{
    display: flex;
    padding: 30px 20px 0 20px;
}
.washman-profile-pic{
=======
    border-bottom: 2px solid grey;
}
.washman-header h2{
    font-size: 17px;
}
.washman-profilePic-sec{
    width: 100%;
    padding: 20px 0;
}
.washman-profilePic{
>>>>>>> c9a798097d3a475ba761233510a0b5a5ac7d73f1
    width: 120px;
    height: 120px;
    border-radius: 70px;
}
<<<<<<< HEAD
.washman-profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 70px;

}
.washman-dp-btn{
    height: 40px;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 13px;
    border: none;
    background-color: rgb(13,202,240);
}
.washman-dp-btn:hover{
    background-color: rgb(12, 125, 147);
}
.washman-profile-fields{
    padding: 10px 10px;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    /* color: white; */
    background-color: whitesmoke;
}
.washman-profile-fields h4{
   font-size: 13px;
=======
.washman-profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 70px;
}
.washman-dp-btn{
    height: 35px;
    margin-top: 75px;
    margin-left: 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13,202,240);
    border: none;
}
.washman-dp-btn:hover{
    background-color: rgb(14, 149, 176);
}


.washman-profile-field{
    width: 100%;
    padding: 5px 40px 5px 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: whitesmoke;
}
.washman-profile-field h4{
    font-size: 13px;
}
.edit-washman-profile-btn{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    /* margin-left: 15px; */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13,202,240);
    border: none;
}
.edit-washman-profile-btn:hover{
    background-color: rgb(14, 149, 176);
>>>>>>> c9a798097d3a475ba761233510a0b5a5ac7d73f1
}

.washman-form-link{
    text-decoration: none;

}
































<<<<<<< HEAD







=======
>>>>>>> c9a798097d3a475ba761233510a0b5a5ac7d73f1
