*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: 2s ease-in; */
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.centralize{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-dark-link{
    color: black;
}


.active{
    border-bottom: 3px solid #15b8d8;
    transition: border-bottom 1.3s ease-in-out;
}
  
.howitworks-link{
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    transition: border-bottom 1.3s ease-in-out;
}

.color-red{
    color: red;
}



.spinnerDiv{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.242);
    margin: 0 auto;
    position: absolute;
}

.spinner-body{
    background: none;
    background-color: rgba(0, 0, 0, 0.242);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.validation-tag{
    color: red;
}

.pendingpayment-ptag{
    text-align: center;
    margin: 0 auto;
}

.navigation_link{
    color: black;

}

.navigation_link2{
    color: black;
    text-decoration: none;

}

.modal_overlay{
    background-color: rgba(128, 128, 128, 0.106);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5px;
}

.position_re{
    position: relative;
}

.conatiner_overlay{
    
}